<div class="submenu flex flex-col items-center">
    <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/square'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'square'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/stop-button'" [svgWidth]="'30'" [svgHeight]="'30'" [svgLabel]="'rounded-square'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/circle'" [svgWidth]="'24'" [svgHeight]="'24'" [svgLabel]="'circle'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/triangle'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'triangle'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/rhombus'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'rhombus'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/conversation'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'conversation-bubble'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/rhombus-1'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'rhombus-1'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/star'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'star'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/right-align'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'right-align'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/right-align-1'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'right-align-1'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/left-and-right-arrows'" [svgWidth]="'26'" [svgHeight]="'26'" [svgLabel]="'left-and-right-arrows'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/pentagon'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'pentagon'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/octagon'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'octagon'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/hexagon'" [svgWidth]="'20'" [svgHeight]="'auto'" [svgLabel]="'hexagon'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/round'" [svgWidth]="'26'" [svgHeight]="'26'" [svgLabel]="'round'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/trapezoid'" [svgWidth]="'30'" [svgHeight]="'30'" [svgLabel]="'trapezoid'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/weather'" [svgWidth]="'26'" [svgHeight]="'26'" [svgLabel]="'weather'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/pharmacy'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'pharmacy'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/polygon'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'polygon'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/open-bracket'" [svgWidth]="'30'" [svgHeight]="'30'" [svgLabel]="'open-bracket'">
        </div>
        <div class="flex justify-center items-center h-10 w-10 cursor-pointer item-container">
            <img appSvgImage [svgName]="'tools-menu-shapes/close-bracket'" [svgWidth]="'30'" [svgHeight]="'30'" [svgLabel]="'close-bracket'">
        </div>
    </div>
    <div class="w-full flex flex-col items-center">
        <button class="w-full bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">
            All shapes
        </button>
        <p class="mt-2 text-sm text-gray-600 text-center">Basic and custom</p>
    </div>
</div>
