<div class="submenu flex flex-col justify-center h-full">
    <div class="item-container" (click)="onSvgClick('tools-menu-connection-lines/connection-line-1')">
        <img appSvgImage [svgName]="'tools-menu-connection-lines/connection-line-1'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'connection-line-1'">
    </div>
    <div class="item-container" (click)="onSvgClick('tools-menu-connection-lines/connection-line-2')">
        <img appSvgImage [svgName]="'tools-menu-connection-lines/connection-line-2'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'connection-line-2'">
    </div>
    <div class="item-container" (click)="onSvgClick('tools-menu-connection-lines/connection-line-3')">
        <img appSvgImage [svgName]="'tools-menu-connection-lines/connection-line-3'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'connection-line-3'">
    </div>
    <div class="item-container" (click)="onSvgClick('tools-menu-connection-lines/connection-line-4')">
        <img appSvgImage [svgName]="'tools-menu-connection-lines/connection-line-4'" [svgWidth]="'20'" [svgHeight]="'20'" [svgLabel]="'connection-line-4'">
    </div>
</div>
